<?php /* #?ini charset="utf-8"?

# Override l'extension owrobotstxt

[full_robots_txt]
Source=node/view/full.tpl
MatchFile=full/robots_txt.tpl
Subdir=templates
Match[class_identifier]=robots_txt

[pagelayout_robots_txt]
Source=pagelayout.tpl
MatchFile=pagelayout/robots_txt.tpl
Subdir=templates
Match[class_identifier]=robots_txt

*/ ?>
